{% extends "base_site.html" %}

{% block title %} {% if edit %}Edition de compte {% else %} Ajout nouveau utilisateur{% endif %}{% endblock title %}


{% block stylesheets %}
    <link href="/static/assets/plugins/custom/uppy/uppy.bundle.css" rel="stylesheet" type="text/css"/>
    <link href="/static/assets/css/stylecss.css" rel="stylesheet" type="text/css"/>
{% endblock stylesheets %}

{% block subheader %}
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            {% if not edit %}
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-2">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Nouveau prestation</h5>
                    <!--end::Page Title-->
                    <!--begin::Actions-->
                    <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                    <span class="text-muted font-weight-bold mr-4">....</span>
                    <!--end::Actions-->
                </div>
                <!--end::Info-->
            {% else %}
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-2">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Édition des informations</h5>
                    <!--end::Page Title-->
                    <!--begin::Actions-->
                    <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                    <span class="text-muted font-weight-bold mr-4">....</span>
                    <a href="{{ url_for('home_blueprint.list_prestations') }}"
                       class="btn btn-light-danger font-weight-bolder btn-sm">Annuler</a>
                    <!--end::Actions-->
                </div>
                <!--end::Info-->
            {% endif %}
            <!--begin::Toolbar-->


            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
{% endblock subheader %}

{% block content %}
    {% from "_render_fields.html" import render_field %}
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <form class="form" method="POST" encytpe="multipart/form-data">
                <div class="card card-custom" style="margin-left:270px ;width:500px; margin-top:30px">
                    <!--begin::Header-->

                    <div class="card-header" style="background-color: #FDF5E6">
                        <div class="card-title">
                            <h3 class="card-label">
                                <span class="card-icon">
                                    <span class="svg-icon svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Layout/Layout-polygon.svg--><svg xmlns="http://www.w3.org/2000/svg" width="70px" height="70px" viewBox="0 0 70 70" fill="none">
                                       <g stroke="none" stroke-width="1" fill-rule="evenodd">
                                       <path d="M28 4.04145C32.3316 1.54059 37.6684 1.54059 42 4.04145L58.3109 13.4585C62.6425 15.9594 65.3109 20.5812 65.3109 25.5829V44.4171C65.3109 49.4188 62.6425 54.0406 58.3109 56.5415L42 65.9585C37.6684 68.4594 32.3316 68.4594 28 65.9585L11.6891 56.5415C7.3575 54.0406 4.68911  49.4188 4.68911 44.4171V25.5829C4.68911 20.5812 7.3575 15.9594 11.6891 13.4585L28 4.04145Z" fill="#000000"/>
                                       </g>
                                       </svg><!--end::Svg Icon-->
                                    </span>
                                </span>
                                {% if edit %}
                                    Édition de Compte
                                {% else %}
                                    Ajouter une prestation
                                {% endif %}
                            </h3>
                        </div>

                    </div>


                     {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                                {% for message in messages %}
                                    <div class="alert alert-custom alert-notice alert-light-warning fade show"
                                         role="alert">
                                        <div class="alert-text">{{ message }}</div>
                                        <div class="alert-close">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true"><i class="ki ki-close"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}


                    <!--end::Header-->
                    <div class="card-body" style="background-color: #FFEFD5">
                        <div class="row">
                            <div class="col-xl-2"></div>
                            <div class="col-xl-8">

                                {{ form.csrf_token }}
                                <div class="row">
                                     <div class="col-xl">
                                        <!--begin::Input-->
                                        {{ render_field(form.type_prestation, placeholder="Type de prestation", mandatory=true, style="background-color:#FFFFFF") }}
                                        <!--end::Input-->
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xl">
                                        <!--begin::Input-->
                                        {{ render_field(form.code_prestation, placeholder="code de prestation", mandatory=true, style="background-color:#FFFFFF") }}
                                        <!--end::Input-->
                                    </div>
                                </div></br>

                                <button id="submit" type="submit" class="btn" style="background-color: #FDF5E6; width: 285px;">
                                 Ajouter
                                </button>
                            </div>

                        </div>
                    </div>


                </div>
            </form>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
{% endblock %}
{% block javascripts %}

{% endblock %}