{% extends "base_site.html" %}

{% block title %} {% if edit %}Edition de compte {% else %} Ajout nouveau utilisateur{% endif %}{% endblock title %}


{% block stylesheets %}
    <link href="/static/assets/plugins/custom/uppy/uppy.bundle.css" rel="stylesheet" type="text/css"/>
{% endblock stylesheets %}

{% block subheader %}
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            {% if not edit %}
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-2">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Gérer les prestations et les ouvrages</h5>
                    <!--end::Page Title-->
                    <!--begin::Actions-->
                    <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                    <span class="text-muted font-weight-bold mr-4">....</span>
                    <!--end::Actions-->
                </div>
                <!--end::Info-->
            {% else %}
                <!--begin::Info-->
                <div class="d-flex align-items-center flex-wrap mr-2">
                    <!--begin::Page Title-->
                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Édition de compte</h5>
                    <!--end::Page Title-->
                    <!--begin::Actions-->
                    <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-4 bg-gray-200"></div>
                    <span class="text-muted font-weight-bold mr-4">....</span>
                    <a href="{{ url_for('home_blueprint.list_users') }}"
                       class="btn btn-light-danger font-weight-bolder btn-sm">Annuler</a>
                    <!--end::Actions-->
                </div>
                <!--end::Info-->
            {% endif %}
            <!--begin::Toolbar-->


            <!--end::Toolbar-->
        </div>
    </div>
    <!--end::Subheader-->
{% endblock subheader %}

{% block content %}
    {% from "_render_fields.html" import render_field %}
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">
            <form class="form" method="POST" encytpe="multipart/form-data">
                <div class="card card-custom" style="margin-left:300px ;width:400px; margin-top:60px">
                    <!--begin::Header-->

                    <div class="card-header"  >
                        <div class="card-title">
                            <h3 class="card-label">
                                <span class="svg-icon svg-icon-primary svg-icon-2x"><!--begin::Svg Icon | path:/var/www/preview.keenthemes.com/metronic/releases/2021-05-14-112058/theme/html/demo1/dist/../src/media/svg/icons/Communication/Write.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                   <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                   <rect x="0" y="0" width="24" height="24"/>
                                   <path d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953) "/>
                                   <path d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                   </g>
                                   </svg><!--end::Svg Icon-->
                                </span>
                                {% if edit %}
                                    Édition de Compte
                                {% else %}
                                <br>
                                  <h4>Gérer</h4>
                                {% endif %}
                            </h3>
                        </div>
                    </div>


                     {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            <ul class=flashes>
                                {% for message in messages %}
                                    <div class="alert alert-custom alert-notice alert-light-warning fade show"
                                         role="alert">
                                        <div class="alert-text">{{ message }}</div>
                                        <div class="alert-close">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true"><i class="ki ki-close"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endwith %}


                    <!--end::Header-->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-2"></div>
                            <div class="col-xl-10">


                                <div class="row" style="margin-left:-70px">

                                 <h4>Veuillez choisir:</h4><br><br>


                                </div>
                                <a href="{{ url_for('home_blueprint.list_prestations') }}" class="menu-link" style="margin-left:-70px">-Gérer les prestations</a><br>
                                <a href="{{ url_for('home_blueprint.list_ouvrages') }}" class="menu-link" style="margin-left:-70px">-Gérer les ouvrages</a><br>

                            </div>

                        </div>
                    </div>


                </div>
            </form>
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
{% endblock %}

{% block javascripts %}

{% endblock %}